/* HIDE MAIN SCROLLBAR */

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* COMMON STYLE */

#draw td {
  transition: font-size .2s, background-color .1s;
  line-height: 0;
  text-align: center;
  border-radius: 50%;
  font-size: 0px;
  caret-color: transparent;
}
/* enable grow effect when placing icons */
td.origin,
td.target,
td.wall,
td.stop,
td.weight,
td.open,
td.closed,
td.path {
  font-size: 20px !important;
}

#draw td div.data:after {
  z-index: 5;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  font-family: "Nunito";
  font-weight: 700;
  color: black;
  background-color: #fff9;
  border-radius: 10%;
}

#draw.show-distance td div.data[path_cost]:after {
  content: "d:"attr(path_cost);
}

#draw.show-data:not(.show-distance) td div.data[travel_distance][future_distance_estimate][score]:after {
  content: "f:"attr(score)"\a g:"attr(travel_distance)"\a h:"attr(future_distance_estimate);
}

/* WALLS */

#draw td.wall {background-image: radial-gradient(black 50%, transparent 50%)}
/* wall linkages */
#draw td.wall::before,
#draw td.wall::after,
#draw td.wall div.diag-wall::before,
#draw td.wall div.diag-wall::after {
  position: absolute;
  content: "";
  background-color: black;
  height: 50%;
  width: 50%;
  right: 25%;
  bottom: 25%;
  border-radius: 5px;
  pointer-events: none;
  transition: background-color .3s;
}
/* right linkage */
td.wall+td.wall::before {
  transform-origin: right;
  transform: scaleX(300%);
}
/* up linkage */
td.wall.wall-above::after {
  transform-origin: bottom;
  transform: scaleY(300%);
}
/* up-left linkage */
#draw.diagonals td.wall.wall-above-left div.diag-wall::before {
  height: 200% !important;
  transform: rotate(-45deg);
  right: 5%;
  bottom: 30%;
  transform-origin: bottom;
}
/* up-right linkage */
#draw.diagonals td.wall.wall-above-right div.diag-wall::after {
  height: 200% !important;
  transform: rotate(45deg);
  left: 5%;
  bottom: 30%;
  transform-origin: bottom;
}

/* PATHING */

/* path drawn within tileMap.js using colourGradient */
#draw td[closed="true"] {background-color: #f08080a0 !important;}
#draw td[open="true"] {background-color: #add8e6a0 !important;}

/* DEFAULT THEME */

/* main background */
#draw.default table {
  background-color: rgb(236, 236, 236);
}
/* target and origin colours */
#draw.default td.origin,
#draw.default td.target {
  background-color: #90ee90a0 !important;
  color: darkgreen;
}
/* weight and stop colours */
#draw.default td.weight,
#draw.default td.stop {
  color: darkblue;
}

/* ARCTIC THEME */

/* main background */
#draw.arctic table {
  background-color: #26F0F1;
  background-image: linear-gradient(315deg, #20bf55 0%, #26F0F1 74%);
}
/* pathing */
#draw.arctic td[path]:not([path="false"]):not(.origin):not(.target) {filter: invert(1);}
#draw.arctic td[path]:not([path="false"]):not(.origin):not(.target)::before {filter: contrast(2);}
#draw.arctic td[closed="true"] {background-color: #c5745699!important}
#draw.arctic td[open="true"] {background-color: #fdbb0dc2!important;}
/* walls */
#draw.arctic td.wall::before,
#draw.arctic td.wall::after,
#draw.arctic td.wall div::before,
#draw.arctic td.wall div::after {
  background-color: #05668D;
}
#draw.arctic td.wall {background-image: radial-gradient(#05668D 50%, transparent 50%)}
/* target and origin colours */
#draw.arctic td.origin,
#draw.arctic td.target {
  background-color: #d4b639 !important;
  color: #05668c;
}
/* weight and stop colours */
#draw.arctic td.weight,
#draw.arctic td.stop {
  color: #427AA1;
}

/* SAHARA THEME */

/* main background */
#draw.sahara table {
  background-color: #FFE1A8;
}
/* pathing */
#draw.sahara td[path]:not([path="false"]):not(.origin):not(.target) {filter: hue-rotate(90deg) contrast(.7);}
#draw.sahara td[closed="true"] {background-color: #52c4a85e!important}
#draw.sahara td[open="true"] {background-color: #27e81f91!important;}
/* walls */
#draw.sahara td.wall::before,
#draw.sahara td.wall::after,
#draw.sahara td.wall div::before,
#draw.sahara td.wall div::after {
  background-color: #472D30;
}
#draw.sahara td.wall {background-image: radial-gradient(#472D30 50%, transparent 50%)}
/* target and origin colours */
#draw.sahara td.origin,
#draw.sahara td.target {
  background-color: #E26D5C !important;
  color: #723D46;
}
/* weight and stop colours */
#draw.sahara td.weight,
#draw.sahara td.stop {
  color: #5C755E;
}