/* DEFINE COLOURS */

.text-navy {color: #00171F!important;}
.text-hover-navy:hover {color: #001116!important;}
.text-hover-primary:hover {color: #0a58ca!important;}
.text-hover-secondary:hover {color: #6c757d!important;}
.text-hover-success:hover {color: #146c43!important;}
.text-hover-info:hover {color: #087990!important;}
.text-hover-warning:hover {color: #997404!important;}
.text-hover-danger:hover {color: #b02a37!important;}
.text-hover-light:hover {color: #6c757d!important;}
.text-hover-dark:hover {color: #495057!important;}
.text-hover-black:hover {color: #000!important;}
.text-hover-white:hover {color: #fff!important;}
.text-hover-gray:hover {color: #6c757d!important;}
.text-hover-blue:hover {color: #0d6efd!important;}
.text-hover-indigo:hover {color: #6610f2!important;}
.text-hover-purple:hover {color: #6f42c1!important;}
.text-hover-pink:hover {color: #d63384!important;}
.text-hover-red:hover {color: #dc3545!important;}
.text-hover-orange:hover {color: #fd7e14!important;}
.text-hover-yellow:hover {color: #ffc107!important;}
.text-hover-green:hover {color: #198754!important;}
.text-hover-teal:hover {color: #20C996!important;}
.text-hover-cyan:hover {color: #0dcaf0!important;}

.bg-navy {background-color: #00171F!important;}

/* LEGACY COLOURS */

.c1, .hc1:hover {color: #FFF!important;}
.bc1, .hbc1:hover {background-color: #FFF!important;}
.c2, .hc2:hover {color: #00A7E1!important;}
.bc2, .hbc2:hover {background-color: #00A7E1!important;}
.c3, .hc3:hover {color: #007EA7!important;}
.bc3, .hbc3:hover {background-color: #007EA7!important;}
.c4, .hc4:hover {color: #003459!important;}
.bc4, .hbc4:hover {background-color: #003459!important;}
.c5, .hc5:hover {color: #00171F!important;} 
.bc5, .hbc5:hover {background-color: #00171F!important;}

/* NAVBAR STYLING */

#mainNav {
  min-height: 56px;
  background-color: #F4F7F5;
}

#mainNav .navbar-toggler {
  padding: 0.75rem;
  color: #161616;;
  border-width: 0;
}

#mainNav .navbar-toggler:hover {
  color: #007EA7;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: rgba(255, 255, 255, 0);
  font-weight: 700;
  padding: .9rem 0;
  transition: color 0.3s ease-in-out;
}

#mainNav.navbar-shrink .navbar-brand {
  color: #007EA7;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

#mainNav a {
  transition: padding .4s ease-in-out,color .2s ease-in-out,font-weight .4s ease-in-out,font-size .4s ease-in-out;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color .4s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
  }
  #mainNav .nav-link {
    padding: 2rem 1.5rem;
    color: #007EA7;
    font-weight: 600;
    font-size: 1.2rem;
  }
  #mainNav .nav-link:hover, #mainNav .nav-link:active  {
    color: #00A7E1;
  }

  #mainNav.navbar-shrink {
    background-color: #F4F7F5;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    font-size: 1rem;
    font-weight: 400;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #007EA7;
  }

  #mainNav.navbar-shrink .nav-link.active {
    color: #00A7E1;
    outline: none;
    border-bottom: 0.25rem solid #00A7E1;
  }
}

/* MAIN BACKGROUND */

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: #00171F
}

.masthead * {
  z-index: 3;
}

.masthead::before {
  position: absolute;
  z-index: 2;
  content: "";
  width: 100%;
  height: 100%;
  top:0;
  background:radial-gradient(#00345910 25%, transparent 50%);
  background-color:transparent;
  background-size: 3vh 3vh;
}

.masthead h1 {
  font-family: 'Varela Round';
  font-size: 1.13rem;
  line-height: 1.13rem;
  letter-spacing: 0.05rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
  
  .btn-lg {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    border-radius: .2rem;
    padding: 1.25rem 2rem!important;
    letter-spacing: .15rem;
    margin-top: 2.5rem!important;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }

  .masthead h1 {
    font-size: 3.2rem;
    line-height: 3.2rem;
    letter-spacing: 0.4rem;
  }
}

.btn {
  border: 0;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  padding: .8rem 1rem;
}

/* ABOUT SECTION */

.about-section {
  padding: 10rem 0;
  background-color: rgb(237, 238, 237);
}

.about-section p {
  margin-bottom: 5rem;
}

/* CONTACT SECTION */

.contact-section {
  padding: 5rem 0 0;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #007EA7;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: 'Varela Round';
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #007EA7;
  border-width: 0.25rem;
  width: 100%;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.75);
}

/* FOOTER */

footer {
  padding: 5rem 0;
}

/* OTHER */

.page{
  padding: 3rem 0;
}

.page:first-child {
  padding-top: 0;
}

.chart-container {
  width: 100%;
  height: 400px;
}

.list-group{
  max-height: 300px;
  margin-bottom: 10px;
  overflow-y:scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.list-group::-webkit-scrollbar {
  display: none;
}

.mh-500 {
  max-height: 500px!important;
}

.owl-stage {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.owl-item{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto !important;
}

.owl-item .card{
  width: 100%;
}

a:hover{
  text-decoration: none;
}

.pt-7 {
  padding-top: 10rem;
}

.pb-7{
  padding-bottom: 10rem;
}

.pt-6 {
  padding-top: 5rem;
}

.pb-6{
  padding-bottom: 5rem;
}

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}

.btn-transition {transition: background-color .5s cubic-bezier(0.22, 0.61, 0.36, 1)}

.toast-container>:not(:last-child) {margin-bottom: unset;}
.toast-container>:not(:first-child) {margin-top: 10px;}

.spinner-border {
  animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  animation-duration: .6s;
}

@keyframes spinner-border {
  to { transform: rotate(360deg) }; 
}
